<style>

    nav{
        
        align-items: center;
        background-color: bisque;
        display: flex;
        height: 150px;
        justify-content: space-between;
        width: 97vw;

    }

    span, a{

        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: bold;
        margin: 15px;

    }

</style>

<nav>
    <span>Logo - <%=title%></span>
    <a href="/about">About</a>
</nav>